DEBUG=1
SECRET_KEY=123456
ALLOWED_HOSTS=127.0.0.1,localhost

QWEATHER_API_HOST=https://devapi.qweather.com
QWEATHER_API_KEY=67b437016f664479b58ef7e63e1930a4
DEFAULT_LOCATION_ID=101040100
DEFAULT_CITY_NAME=重庆
